{% extends "layout.html" %}

{% block main %}


<div id="portfolio" class="hubDivs">
    {% set userStocks = session["user_stocks"] %}
    {% if userStocks %}
        <div class="card-columns">
            {% for stock in userStocks %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ stock["name"] }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ stock["symbol"] }}</h6>
                        <p class="card-text">Shares owned: {{ stock["shares"] }}<br>
                                             Current price: {{ stock["price"] }}
                        </p>

                        <form action="/sell?sym={{stock['symbol']}}" method="post">
                            <div class="form-row">
                                <div id="sharesDiv" class="col">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div id="alsoPriceText" class="input-group-text">Shares</div>
                                        </div>
                                        <input name="shares" autocomplete="off" type="text" class="form-control" name="sharesInput" required>
                                    </div>
                                </div>
                                <button class="btn btn-dark font-weight-bold sell" type="submit" style="transform: translateY(-10px);" >Sell</button>
                            </div>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-secondary" role="alert">
            <h4 class="alert-heading">Too empty...</h4>
            <p>Seems like you haven't bought any stocks yet; once you do, your stocks will be shown here.</p>
            <hr>
            <p class="mb-0">Do you wish to search for stocks now?</p>
        </div>
    {% endif %}

</div>

<div id="quote" class="hubDivs" style="display:none;">
    <form onsubmit="return false;">
        <input autocomplete="off" autofocus class="form-control" id="requestedSymbol" name="sym" placeholder="Symbol" type="text">
        <button type="submit" class="btn btn-primary" onclick="return false;" id="requestQuoteBtn">Quote</button>
    </form>


    <div id="quotedata_placeholder" style="padding-top:20px; display:none;">
                <div class="card bg-white mb-3" style="max-width: 18rem;">
                    <div class="card-2header badge badge-success" style="background-color:#24763c;">Quote found!</div>
                        <div class="card-body">
                            <h5 id="title_placeholder" class="card-title" style="display:inline-block;"></h5>
                            <span id="symbol_placeholder" class="badge badge-dark" style="vertical-align:sub;"> </span>
                            <p id="price_placeholder" class="card-text"></p>
                            <form class="needs-validation" onsubmit="return false;" novalidate>
                                <div class="form-row">
                                    <div id="sharesDiv" class="col">
                                        <label class="sr-only" for="sharesToBuy"></label>
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <div id="alsoPriceText" class="input-group-text font-weight-bold">Shares</div>
                                            </div>
                                        <input autocomplete="off" type="text" class="form-control" name="sharesToBuy" id="sharesToBuy" required>
                                        </div>
                                    </div>
                                    <button id="buyButton" class="btn btn-dark" style="transform: translateY(-10px);" >Buy</button>
                                </div>
                            </form>
                        </div>
                </div>
    </div>

    <div id="quotedataError_placeholder" class="alert alert-danger" role="alert" style="max-width:18rem; margin-top:20px; display:none;">
        <h4 class="alert-heading font=weight-bold">Uh-oh!</h4>
        <hr>
        <p>No company was found with that symbol.</p>
    </div>

    {% if quoteData is defined %}
        <p>{{ quoteData.get("name") }}</p>
    {% endif %}
</div>

<div id="history" class="hubDivs" style="display:none;">
</div>

<script>
    // for all the stocks the user has, create a event listener (sell)
    function createAJAX(){
        try{
            return new XMLHttpRequest();
        }catch(e){
            try{
                return new ActiveXObject("Microsoft.XMLHTTP");
            }catch(e){
                return new ActiveXObject("Msxml2.XMLHTTP");
            }
        }

    }
    // OTHER VARIABLES
    var portfolioDiv = document.getElementById("portfolio");

    // NAVBAR SYSTEM
    var navItems = document.getElementsByClassName("nav-item");
    var divs = document.getElementsByClassName("hubDivs");

    for(let i = 0, len = navItems.length; i < len; i++){
        navItems.item(i).addEventListener("click", function(){
            divs.item(i).style.display = "block";
            for(let x = 0; x < len; x++)
                if(divs.item(x) != divs.item(i))
                    divs.item(x).style.display = "none";
        });
    }

    // HUB DIV
    document.getElementById("sharesToBuy").addEventListener("keyup", function(){
        let whereToDisplayPrice = document.getElementById("alsoPriceText");

        if(!isNaN(this.value))
            if(this.value != 0){
                {% if quoteData is defined %}
                    let totalPrice = parseInt({{ quoteData.get("price")|tojson }}.substr(1)) * this.value;
                    whereToDisplayPrice.innerHTML = "$" + totalPrice.toString();

                    if(( {{ session["user_cash"] }} - totalPrice) <= 0)
                        whereToDisplayPrice.style.color = "#d31f16";
                    else
                        whereToDisplayPrice.style.color = "#24763c";
                {% endif %}
            }
        else{
            whereToDisplayPrice.innerHTML = "Shares";
            whereToDisplayPrice.style.color = "";
        }
    });

    // QUOTE DIV

    document.getElementById("requestQuoteBtn").addEventListener("click", function createQuoteRequest(){
        var quoteSymbol = document.getElementById("requestedSymbol").value;
        var quoteRequest = createAJAX();

        history.pushState({}, null, "/quote?sym="+quoteSymbol);

        quoteRequest.open('GET', '/quote?sym='+quoteSymbol+"&fromAJAX=1");
        quoteRequest.send();

        quoteRequest.onload = function getQuoteRequest(){
            if(quoteRequest.status == 200){ // SUCCESSFUL
                displayQuoteData(false, JSON.parse(quoteRequest.response));

                document.getElementById("buyButton").addEventListener("click", function createBuyRequest(){
                    var buyRequest = createAJAX();
                    let howManyShares = document.getElementById("sharesToBuy").value;

                    buyRequest.open('GET', '/buy?sym='+quoteSymbol+"&shares="+howManyShares);
                    buyRequest.send();

                    buyRequest.onload = function getBuyRequest(){
                        var responseID = JSON.parse(buyRequest.response)["id"];

                        if(buyRequest.status == 200){
                            if(responseID == "NOT_ENOUGH_CASH")
                                createAlert("Not enough cash.", "danger");
                            else // responseID = "BOUGHT"
                                document.location.href = "/";
                        }
                        else
                            alert("buy not successful!");
                    }
                });

            }
            else // NO COMPANY W/ THIS SYMBOL FOUND
                displayQuoteData(true, null);
        };
    });


    function displayQuoteData(isError, quoteData){
        let whereToShowData = document.getElementById("quotedata_placeholder");
        let whereToShowError = document.getElementById("quotedataError_placeholder");

        if(!isError){
            document.getElementById("title_placeholder").innerHTML = quoteData["name"];
            document.getElementById("symbol_placeholder").innerHTML = quoteData["symbol"];
            document.getElementById("price_placeholder").innerHTML = quoteData["price"];
            whereToShowData.style.display = "inline-block";
            whereToShowError.style.display = "none";
        }
        else{
            whereToShowData.style.display = "none";
            whereToShowError.style.display = "inline-block";
        }
    }

    // SERVER-SIDE
    // SELLING SYSTEM (PORTFOLIO DIV)

    {% if redirectDiv is defined %}
        portfolioDiv.style.display = "none";
        divs.item({{ redirectDiv }}).style.display = "block";
    {% endif %}
    </script>
{% endblock %}