{% extends "layout.html" %}

{% block main %}

<div id="portfolio" class="hubDivs">
    <div class="card-columns">
        {% set userStocks = session["user_stocks"] %}
        {% if userStocks %}
            {% for symbol, shares in userStocks.items() %}
                {% set symbolLookup = symbol|lookup %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ (symbolLookup).get("name") }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ symbol }}</h6>
                        <p class="card-text">Shares owned: {{ shares }}<br>
                                             Current price: {{ (symbolLookup).get("price") }}
                        </p>

                        <form action="/sell?sym={{symbol}}" method="post">
                            <div class="form-row">
                                <div id="sharesDiv" class="col">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div id="alsoPriceText" class="input-group-text">Shares</div>
                                        </div>
                                        <input name="shares" autocomplete="off" type="text" class="form-control" name="sharesInput" id="sharesInput" required>
                                    </div>
                                </div>
                                <button id="buyBtn" class="btn btn-dark font-weight-bold" type="submit" style="transform: translateY(-10px);" >Sell</button>
                            </div>
                        </form>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>stock is not defined</p>
        {% endif %}
    </div>

</div>

<div id="quote" class="hubDivs" style="display:none;">
    <form class="form-group" action="/quote" method="post">
        <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Symbol" type="text">
        <button class="btn btn-primary" type="submit">Quote</button>
    </form>

    {% if quoteData is defined and quoteData is not none %}
        {% if quoteData is not none %}
            <div class="card bg-white mb-3" style="max-width: 18rem;">
                <div class="card-2header badge badge-success" style="background-color:#24763c;">Quote found!</div>
                <div class="card-body">
                    <h5 class="card-title" style="display:inline-block;">{{ quoteData.get("name") }} </h5>
                    <span class="badge badge-dark" style="vertical-align:sub;">{{ quoteData.get("symbol") }}</span>
                    <p class="card-text">Price: {{ quoteData.get("price") }}</p>
                    <form class="needs-validation" action="/buy" method="post" novalidate>
                        <div class="form-row">
                            <div id="sharesDiv" class="col">
                                <label class="sr-only" for="sharesInput"></label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div id="alsoPriceText" class="input-group-text font-weight-bold">Shares</div>
                                    </div>
                                    <input autocomplete="off" type="text" class="form-control" name="sharesInput" id="sharesInput" required>
                                </div>
                            </div>
                            <button id="buyBtn" class="btn btn-dark" type="submit" onclick="return !isNaN(document.getElementById('sharesInput').value);" style="transform: translateY(-10px);" >Buy</button>
                        </div>
                    </form>
                </div>
            </div>
        {% else %}
            <div class="alert_placeholder alert alert-danger" role="alert">Quote not found!</div>
        {% endif %}
    {% endif %}

</div>

<div id="history" class="hubDivs" style="display:none;">History</div>

<script>

    // OTHER VARIABLES
    var errorMessageDiv = document.getElementById("serverside-error");
    var successMessageDiv = document.getElementById("serverside-success");
    var portfolioDiv = document.getElementById("portfolio");

    // NAVBAR SYSTEM
    var navItems = document.getElementsByClassName("nav-item");
    var divs = document.getElementsByClassName("hubDivs");

    for(let i = 0, len = navItems.length; i < len; i++){
        console.log(navItems.item(i));
        navItems.item(i).addEventListener("click", function(){

            divs.item(i).style.display = "block";

            for(let x = 0; x < len; x++)
                if(divs.item(x) != divs.item(i))
                    divs.item(x).style.display = "none";

        });
    }


    // SERVER-SIDE

    {% if redirectDiv is defined %}
        portfolioDiv.style.display = "none";
        divs.item({{ redirectDiv }}).style.display = "block";
    {% endif %}

    // HUB DIV
    document.getElementById("sharesInput").addEventListener("keyup", function(){
        let whereToDisplayPrice = document.getElementById("alsoPriceText");

        if(!isNaN(this.value))
            if(this.value != 0){
                {% if quoteData is defined %}
                    let totalPrice = parseInt({{ quoteData.get("price")|tojson }}.substr(1)) * this.value;
                    whereToDisplayPrice.innerHTML = "$" + totalPrice.toString();

                    if(( {{ session["user_cash"] }} - totalPrice) <= 0)
                        whereToDisplayPrice.style.color = "#d31f16";
                    else
                        whereToDisplayPrice.style.color = "#24763c";
                {% endif %}
            }
        else{
            whereToDisplayPrice.innerHTML = "Shares";
            whereToDisplayPrice.style.color = "";
        }
    });

    </script>
{% endblock %}