{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

    <div id="loginDiv">
        <form class="needs-validation" id="form" action="/login" method="post" novalidate>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" id="usernameForm" name="username" placeholder="Username" type="text" required>
            </div>
            <div class="form-group">
                <input class="form-control" id="passwordForm" name="password" placeholder="Password" type="password" required>
            </div>
            <button class="btn btn-primary" type="submit">Log In</button>
        </form>

    </div>

    <div id="registerDiv" style="display: none;">
        <form class="needs-validation" action="/register" method="post" novalidate>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text" required>
            </div>
            <div class="form-group">
                <input class="form-control" id="passwordInput" name="password" placeholder="Password" type="password" required>
                <input class="form-control" id="passwordCheckInput" name="passwordCheck" placeholder="Confirm password" type="password" required>
            </div>
            <button class="btn btn-primary" type="submit">Register</button>
        </form>
    </div>

    <script>
        var passwordInput = document.getElementById("passwordInput");
        var passwordCheckInput = document.getElementById("passwordCheckInput");

        var registering = false;

        // CHANGES FORMS FROM LOG-IN TO REGISTER
        var registerButton = document.getElementById("registerNavItem");
        registerButton.addEventListener("click", function(){
            document.getElementById("loginDiv").style.display = "none";
            document.getElementById("registerDiv").style.display = "inline";
            registering = true;
        });

        {% if redirectToRegister %}
            document.getElementById("loginDiv").style.display = "none";
            document.getElementById("registerDiv").style.display = "inline-block";
        {% endif %}

    </script>
{% endblock %}
